Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [2]:
num=input('Input a list separated by comma: ')
num_list={int(x) for x in num. split(',')}

unique_num=set(num_list)
max_num=max(num_list)

print('After removing the duplicates from the list:', unique_num)
print('The max number from the list:', max_num)

Input a list separated by comma: 1,9,3,4,5,200,54
After removing the duplicates from the list: {1, 3, 4, 5, 54, 200, 9}
The max number from the list: 200