Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [3]:
import pandas as pd
data= {'number':[10,100,300]}
df=pd.DataFrame(data)
print(df)

   number
0      10
1     100
2     300